nav.navbar.navbar-fixed-top
  .container-fluid
    .navbar-header
      a.navbar-brand(href="/parties") Parties
    .navbar-right.navbar-text
      meteor-include(src="loginButtons")

.container-fluid(ui-view="")
